.body {
    font-family: lato;
    font-size: 24px;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.generator {
    text-align: center;

    &__select-breed {
        font-size: 20px;
    }
}

.button {
    width: 150px;
    margin-top: 10px;
    padding: 7px 10px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;

    &:hover{
    @media (hover: hover) and (pointer: fine) {
        background-color: black;
        color: white;
    }
}
}

.dogs-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    &__dog {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 20px;
        max-width: 500px;
        justify-items: center;
        align-items: center;
        border: 1px solid #ccc;
        box-shadow: 0 0 2px 0 black;

        &-img {
            width: 100%;
            border-radius: 10%;
        }

        &-breed {
            text-align: center;
        }

        &-info {
            display: flex;
            flex-direction: column;

            &-span {
                margin-bottom: 10px;
            }
        }
    }
}