.body {
    font-family: lato;
    font-size: 24px;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.generator {
    text-align: center;

    &__select-gender, &__select-country,
    &__input {
        font-size: 20px;
    }

    &__input {
        width: 70px;

        &-name {
            margin-right: 10px;
        }
    }
}

.button {
    width: 150px;
    margin-top: 10px;
    padding: 7px 10px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        color: white;
        background-color: black;
    }
}

.users-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.user {
    display: grid;
    margin: 20px;
    padding: 20px;
    justify-items: center;
    font-size: 18px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    border: 1px solid rgb(80, 80, 80);
    cursor: pointer;

    &:hover {
        background-color: rgb(255, 255, 255);
    }

    &__img {
        width: 30%;
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 50%;
        border: 1px solid rgb(165, 165, 165);
    }

    &__e-mail {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

.fa-envelope {
    display: inline;
    margin-right: 3px;
}

.fa-earth-europe {
    margin-right: 3px;
}